<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/moment.js"></script>
<script src="/js/timeago.js"></script>
<script src="/js/app.js"></script>
</body>

</html>