<ul id='profileDrop' class='dropdown-content' style="top: 60px !important;">
  <li><a href="/edit_profile">Edit Profile</a></li>
  <li><a href="/logout" style="line-height: 40px;margin-top: 0px;text-align: center;">Logout</a></li>
</ul>