{{> head }}
</head>

<body class="board">
  {{> innerNav }}
  <main class="row zmb">
    <div class="container">
      <br>
      <div class="row">
        <div class="tab-fence">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2"><a target="_self" href="/timeline">Timeline</a></li>
              <li class="tab col s2">
                <a href="#profile" class="active">Profile</a>
              </li>
              <li class="tab col s2"><a target="_self" href="/following">Following</a></li>
              <li class="tab col s2"><a target="_self" href="/followers">Followers</a></li>
            </ul>
          </div>
        </div>
        <div id="profile" class="board-layout col s12 row">
          <br>
          <div class="col s12 m4 l3">
            {{> profileCard }}
          </div>
          <div class="col s12 m8 l9">
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Summary</h4>
                <button class="btn green right follow-action follow" id="follow_{{userDetails._id}}">follow</button>
              </div>
              <div class="body nobd">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Professional Experience</h4>
              </div>
              <div class="body nobd">
                <h5 class="job-title">Assistant Lecturer</h5>
                <p class="job-location">Ladoke Akintola University of technology</p>
                <p class="job-time_span">March 1990 - Present </p>
                <img src="/images/ladoke_logo.jpg" alt="" class="job-logo right">
                <p class="job-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat.</p>
              </div>
              <div class="body nobd">
                <h5 class="job-title">Assistant Lecturer</h5>
                <p class="job-location">Ladoke Akintola University of technology</p>
                <p class="job-time_span">March 1990 - Present </p>
                <img src="/images/ladoke_logo.jpg" alt="" class="job-logo right">
                <p class="job-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Education</h4>
              </div>
              <div class="body nobd">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {{> profileMenu }}
  {{> footer }}