{{> head }}
</head>

<body class="board">
  <div class="navbar-fixedd">
    <nav class="white">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">
          <img src="./images/logo_coloured.jpg" alt="Under35">
        </a>
        <ul class="right">
          <li><a href="#" class="notification"><img src="./images/message_icon.jpg" alt="m"></a></li>
          <li><a href="#" class="notification"><span class="new"></span><img src="./images/alert_icon.jpg" alt="m"></a></li>
          <li><a href="#" class="profile"><img src="./images/abiola-4.jpg" alt="m"></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <main class="row zmb">
    <div class="container">
      <br>
      <div class="row">
        <div class="tab-fence">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2"><a target="_self" href="/timeline">Timeline</a></li>
              <li class="tab col s2">
                <a href="#profile" class="active">Profile</a>
              </li>
              <li class="tab col s2">
                <a target="_self" href="#">Followers</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="profile" class="board-layout col s12 row">
          <br>
          <div class="col s12 m4 l3">
            <div class="card">
              <div class="card-content">
                <img src="./images/abiola-4@2x.jpg" alt="" class="profile">
                <h4 class="user_fullname">Abiola Odunayi</h4>
                <h5 class="user_profession">UX designer</h5>
                <p class="user_origin">Itesiwaju Local Goverment - Oyo state</p>
                <img src="./images/pdp_small.jpg" alt="" class="user_party">
              </div>
              <div class="user_stats">
                <div class="user_stat">
                  <p class="no">300</p>
                  <p class="desc">Followers</p>
                </div>
                <div class="user_stat queries">
                  <p class="no">30</p>
                  <p class="desc">Queries</p>
                </div>
              </div>
              <ul class="social">
                <li>
                  <a href="#"><img src="./images/facebook.svg" alt=""> &nbsp; www.facebook.com/abiole3</a>
                </li>
                <li>
                  <a href="#"><img src="./images/google.svg" alt=""> &nbsp; abioe3u@gmail.com</a>
                </li>
                <li>
                  <a href="#"><img src="./images/twitter.svg" alt=""> &nbsp; www.twitter.com/abeuola</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col s12 m8 l9">
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Summary</h4>
                <button class="btn green right follow">follow</button>
              </div>
              <div class="body nobd">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Professional Experience</h4>
              </div>
              <div class="body nobd">
                <h5 class="job-title">Assistant Lecturer</h5>
                <p class="job-location">Ladoke Akintola University of technology</p>
                <p class="job-time_span">March 1990 - Present </p>
                <img src="./images/ladoke_logo.jpg" alt="" class="job-logo right">
                <p class="job-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat.</p>
              </div>
              <div class="body nobd">
                <h5 class="job-title">Assistant Lecturer</h5>
                <p class="job-location">Ladoke Akintola University of technology</p>
                <p class="job-time_span">March 1990 - Present </p>
                <img src="./images/ladoke_logo.jpg" alt="" class="job-logo right">
                <p class="job-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="card-panel update">
              <div class="head">
                <h4 class="title">Education</h4>
              </div>
              <div class="body nobd">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{> footer }}