{{> head }}
</head>

<body class="under35blue">
  <ul id='menu_drop' class='dropdown-content'>
  </ul>
  <nav class="transparent">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo left">
                    <img src="./images/logo.png" alt="Under35">
                </a>
      <ul class="right hide-on-small-only">
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">&nbsp;</a></li>
        <li>
          <a href="/login">
            <u>Sign in</u>
          </a>
        </li>
        <li><a href="/register" class="btn green">Sign up</a></li>
      </ul>
      <ul class="hide-on-med-and-up right">
        <li><a class='dropdown-button' href='#' data-activates='dropdown1' data-hover="true" data-belowOrigin="true" data-constrainWidth="false"><i class="icon ion-navicon x2"></i></a></li>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">EVENTS</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="/login">Sign in</a></li>
          <li><a href="/register" class="sign_up">Sign up</a></li>
        </ul>
      </ul>
    </div>
  </nav>
  <main class="row zmb">
    <div class="col s12">
      <div id="reg" class="card-panel access-panel center">
        <div id="step-1_reg">
          <h1 class="panel-head">Hello!</h1>
          <h4 class="panel-info">Create your account</h4>
          <form class="row" onsubmit="createNewUser(); return false;">
            <div class="col s12 input-field">
              <input type="text" name="fullname_reg" id="fullname_reg">
              <label for="fullname_reg">FULL NAME</label>
            </div>
            <div class="col s12 input-field">
              <input type="email" name="email_reg" id="email_reg">
              <label for="email_reg">EMAIL ADDRESS</label>
            </div>
            <div class="col s12 input-field">
              <div id="gender_reg" class="toggle-input left">
                <span class="option selected male">Male</span>
                <span class="option female">Female</span>
              </div>
            </div>
            <div class="col s12 input-field">
              <input type="number" name="phone_reg" id="phone_reg">
              <label for="phone_reg">PHONE NUMBER</label>
              <p class="step-info center">Step 1 of 3</p>
              <p class="center">
                <span class="next-step btn green waves-effect">Continue</span>
              </p>
              <p class="step-info center"><br> Have an account?
                <a class="indigo-text" href="/login">
                  <u>Sign in</u>
                </a>
              </p>
            </div>
          </form>
        </div>
        <div id="step-2_reg" class="hide">
          <h4 class="panel-info">Complete this form to continue</h4>
          <form class="row" id="regForm">
            <div class="col s12 input-field">
              <input type="number" name="age_reg" id="age_reg">
              <label for="age_reg">AGE</label>
            </div>
            <div class="col s12 input-field">
              <input type="text" name="current_address_reg" id="current_address_reg">
              <label for="current_address_reg">CURRENT ADDRESS</label>
            </div>
            <div class="input-field col s12">
              <select name="state_origin_reg" id="state_origin_reg">
                <option value="" disabled selected>Choose your option</option>
                <option value="abuja">ABUJA FCT</option>
                <option value="abia">ABIA</option>
                <option value="adamawa">ADAMAWA</option>
                <option value="akwa_ibom">AKWA IBOM</option>
                <option value="anambra">ANAMBRA</option>
                <option value="bauchi">BAUCHI</option>
                <option value="bayelsa">BAYELSA</option>
                <option value="benue">BENUE</option>
                <option value="borno">BORNO</option>
                <option value="cross_river">CROSS RIVER</option>
                <option value="delta">DELTA</option>
                <option value="ebonyi">EBONYI</option>
                <option value="edo">EDO</option>
                <option value="ekiti">EKITI</option>
                <option value="enugu">ENUGU</option>
                <option value="gombe">GOMBE</option>
                <option value="imo">IMO</option>
                <option value="jigawa">JIGAWA</option>
                <option value="kaduna">KADUNA</option>
                <option value="kano">KANO</option>
                <option value="katsina">KATSINA</option>
                <option value="kebbi">KEBBI</option>
                <option value="kogi">KOGI</option>
                <option value="kwara">KWARA</option>
                <option value="lagos">LAGOS</option>
                <option value="nassarawa">NASSARAWA</option>
                <option value="niger">NIGER</option>
                <option value="ogun">OGUN</option>
                <option value="ondo">ONDO</option>
                <option value="osun">OSUN</option>
                <option value="oyo">OYO</option>
                <option value="plateau">PLATEAU</option>
                <option value="rivers">RIVERS</option>
                <option value="sokoto">SOKOTO</option>
                <option value="taraba">TARABA</option>
                <option value="yobe">YOBE</option>
                <option value="zamfara">ZAMFARA</option>
              </select>
              <label for="state_origin_reg">STATE OF ORIGIN</label>
            </div>
            <div class="col s12 input-field">
              <input type="text" name="town_origin_reg" id="town_origin_reg">
              <label for="town_origin_reg">TOWN OF ORIGIN</label>
              <p class="step-info center">Step 2 of 3</p>
              <p class="center">
                <span class="next-step btn green waves-effect">Continue</span>
              </p>
            </div>
          </form>
        </div>
        <div id="step-3_reg" class="hide">
          <h4 class="panel-info">Create your personalized password</h4>
          <br>
          <form class="row">
            <div class="col s12 input-field">
              <input type="password" name="password_reg" id="password_reg">
              <label for="password_reg">PASSWORD</label>
            </div>
            <div class="col s12 input-field">
              <input type="password" name="password_confirm_reg" id="password_confirm_reg">
              <label for="password_confirm_reg">CONFIRM PASSWORD</label>
              <p class="step-info center">Step 3 of 3</p>
              <p class="center">
                <button class="next-step btn green waves-effect">Continue</button>
              </p>
            </div>
          </form>
        </div>
      </div>
      <div id="success_reg" class="card access-panel center hide">
        <div class="green white-text">
          <p class="animated"><i class="icon ion-ios-checkmark-outline"></i></p>
        </div>
        <h4 class="head">Sign up successful!</h4>
        <p class="instruction">Kindly check your mailbox to confirm your account </p>
        <a href="/login" class="btn green finish waves-effect waves-light">Finish</a>
      </div>
    </div>
  </main>

  {{> footer }}